nav{
   display: flex;
}

nav input{
    margin-top: 20px;
    margin-left:110%;
    width: 40vh;
    border-radius: 2px;
    font-size: 15px ;
    height: 10px;
    padding: 10px;
    border-radius: 10px;  
}


#bar1{
width: 8vh;
}

#logo1{
    width: 25vh;
    margin-top: -2.5vh;
}

#ci1{
    width: 10vh;
    border-radius: 50px;
}
#sub1{
    margin-left: 10px;
    margin-top: -15px;
}

button{
    margin-top: 27px;
    margin-left: 70px;
    width: 20vh;
    height: 40px;
    border-radius: 20px;
}

#voice1{
    width: 45px;
    display: flex;
    margin-top: 25px;
    margin-left: 50%;
}

#signin1{
    width: 10vh;
    margin-left: 550%;
    margin-top: 24px;
    height: 30px;
}

#glass1{
    margin-left: 325px;
    margin-top: 30px;
}

